:root{
    --font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
    margin: 0;
    font-family: var(--font-family-sans-serif);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-sans-serif);
}

.header_wrapper {
    color: #2064b1;
    background-color: #f2f2f2;
    font-weight: bold;
}

p {
    margin: 0;
}

.title {
    margin: 0;
    font-weight: bold;
}

p.col-3 {
    margin: 0;
    padding-left: 0;
}

.arg_text {
    text-align: center;
    font-weight: bold;
}

.arg_text_02 {
    font-weight: bold;
}

.texts {
    margin: 5px 0;
}

textarea.log_area{
    height: 150px;
}
